body {
  width: 100%;
  text-align: center;
  /* height: fit-content; */
}
h1 {
  padding: 20px;
}
.main-container {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.airplane-container {
  height: 100%;
  text-align: center;
}
/* .airplane {
  background: url("airplane.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 120%;
  min-width: 100%;
  min-height: 100vh;
  opacity: 1;
} */
.fuselage {
  margin: 0 auto;
  /* padding: 100px auto; */
  max-width: fit-content;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 40px);
  justify-content: center;
  justify-items: center;
  column-gap: 6px;
  row-gap: 5px;
}

.seat {
  background-color: rgb(93, 92, 92);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
  padding: 10px;
  width: 25px;
  color: whitesmoke;
}

.corridor {
  margin: 1px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(93, 92, 92);
}

.seat:hover {
  cursor: pointer;
  width: 28px;
  box-shadow: 1px 2px 1px gray;
}
.reserved {
  background-color: #35ff00;
  color: rgb(93, 92, 92);
}

.selected {
  box-shadow: 2px 3px 3px #848282;
}
.unavailable {
  background-color: rgb(89, 9, 9);
}
